.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    .sn_container {
        margin: 0 5px;
    }

    .logo {
        margin: auto;
        width: 100px;
    }

    .sn_logo {
        width: 25px;
    }
}