.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;

  .sn_container {
    margin: 0 5px;
    display: flex;
  }

  .logo {
    margin: auto;
    width: 100px;
    position: relative;
    left: 20px;
  }

  .sn_logo {
    width: 25px;
  }
}
