.registration_form {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.227), rgba(56, 55, 55, 0.375));
  border-radius: 5px;
  height: 300px;
  width: 70%;
  margin: auto;
  margin-top: 100px;

  .registration_cells {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
  }

  .cell {
    width: 250px;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(250, 250, 250);
    margin: 10px 40px;
  }
  .register_btn {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    width: 130px;
    height: 40px;
    background: linear-gradient(rgb(235, 150, 52), rgb(245, 197, 4));
    border: none;
  }
}
